{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container-flex">
        <h1 class="title">Modifier mon mot de passe</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <button class="btn btn-success">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
