{% extends "base.html.twig" %}

{% block body %}
    <h2 class="title">A propos du site</h2>
    <div class="contact-form">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies lectus in arcu blandit, vel bibendum nisi placerat. Nulla facilisi. Morbi quis felis pharetra, dignissim nibh in, tristique eros. Nam pellentesque tortor id porta scelerisque. Sed tempus lectus semper magna aliquet, vitae finibus tellus dictum. Phasellus convallis purus dui, sed aliquam diam imperdiet sit amet. Curabitur ut orci sodales, porta erat eget, facilisis lorem. Phasellus ac odio fringilla, vehicula metus quis, tristique lacus. Phasellus laoreet sem blandit felis viverra, sed ornare lectus condimentum. Pellentesque ut ante erat. Donec et lacinia nisl. Curabitur tincidunt tortor neque, lobortis consequat quam placerat posuere. Nullam quis pulvinar leo, et dapibus neque. Sed nec justo nec diam luctus fermentum. Cras feugiat, lectus quis accumsan dictum, tortor magna suscipit tellus, eu pulvinar magna nibh tristique neque.</p>
    </div>
{% endblock %}