{% extends "base.html.twig" %}

{% block body %}
    <div class="layer"></div>
    <div class="banner">
        <div class="topbar">
            <nav class="topbar-menu">
                <a href="#">PRESTATIONS</a>
                <a href="#">JOURNEE BIEN-ETRE</a>
                <a href="#">A PROPOS</a>
                <a href="#">CONTACT</a>
            </nav>
            <div>
                <img class="topbar-main-logo" src="#" alt="Logo mon rendez-vous beauté">
            </div>
            <div>
                <img class="topbar-connexion-logo" src="#" alt="Icône connexion">
                <a href="#">CONNEXION</a>
            </div>
        </div>

        <div class="search-f">

        </div>
    </div>
{% endblock %}