<div>
    <p>Bonjour {{ firstname }}, bienvenue sur mon RDV Beauté !</p>
    <p>Merci de confirmer votre compte en cliquant sur le lien suivant : <a href="{{ lien }}/{{ token }}">Validation de compte</a></p>
</div>
