@import "vars";
@import "~bootstrap/scss/bootstrap";

/* IMPORT DE POLICES */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

ul {
  margin: 20px 0;
  li {
    margin: 15px 0;
  }
}

.title {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    margin: 50px 0;
    text-align: center;
}

.subtitle-pink {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  margin: 50px 0;
  text-align: center;
  color: #d18a8a;
}

.category-carousel {
    margin: 50px 0;
}

.contact-form {
  margin: 50px 15px;
  li {
    list-style: none;
  }
}

.card {
    margin-bottom: 25px;
}

.salmon-link {
    color: #D6A9A9;

    :hover {
        color: #0b2e13;
    }
}

.subtitle {
    text-align: center;
    font-size: 20px;

    a {
        margin-right: 15px;
    }
}

.flex-buttons {
    display: flex;

    button {
        margin-right: 10px;
    }
}

.bold {
  font-weight: bold;
}

.description-block {
  margin-bottom: 30px !important;
}

@media only screen and (min-width: 800px){
  .category-carousel {
    margin: 50px 100px;
  }

    .contact-form {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .category-carousel {
        margin: 50px 250px;
    }

    .title {
        font-size: 2.5rem;
    }

    .contact-form {
        max-width: 900px;
    }
}