@import "vars";
@import "~bootstrap/scss/bootstrap";

/* IMPORT DE POLICES */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

ul {
  margin: 20px 0;
  li {
    margin: 15px 0;
  }
}

.title {
  font-family: "Libre Baskerville", serif;
  font-size: 1.8rem;
  margin: 50px 0;
  text-align: center;
  color: #414141;
}

.subtitle-pink {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  margin: 50px 0;
  text-align: center;
  color: #d18a8a;
}

.category-carousel {
  margin: 50px 0;
}

.container-flex {
  margin: 50px 15px;
  li {
    list-style: none;
  }
}

.card {
  margin-bottom: 25px;
}

.salmon-link {
  color: #D6A9A9;
  :hover {
    color: #0b2e13;
  }
}

.categories {
  text-align: center;
  font-size: 22px;
  a {
    margin: 0 20px;
  }
}

.flex-buttons {
  display: flex;
  button {
    margin-right: 10px;
  }
}

.bold {
  font-weight: bold;
}

.description-block {
  margin-bottom: 30px !important;
}

.card-service {
  border: 1px solid rgba(232,230,230,1);
  padding: 55px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.card-service-right, .card-service-left {
  text-align: center;
}

.card-service-left {
  padding-right: 55px;
}

.card-service-right {
  padding-left: 55px;
}

.card-service-separator {
  height: 260px;
  background-color: #414141;
  opacity: 0.7;
  width: 1px;
}

.card-service-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgba(232,230,230,1);
}

.hidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  .category-carousel {
    margin: 50px 100px;
  }

  .container-flex {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .category-carousel {
    margin: 50px 250px;
  }

  .title {
    font-size: 2.2rem;
  }

  .container-flex {
    max-width: 1000px;
  }
}
