* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: #4B6635;
}

/* Elements a afficher uniquement en desktop */
.topbar-menu-desktop, .topbar-connexion-desktop, .topbar-menu-tablet, .mobile {
    display: none;
}

/* Header */
.banner {
    background-image: url("../images/lotus-full.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%;
    height: 800px;
    margin-bottom: 60px;
    padding: 0 20px;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    position: relative;
    box-shadow: 0px 2px 2px rgba(116, 111, 111, 0.473);
    font-family: "Libre Baskerville", serif;
}

.topbar-main-logo {
    width: 200px;
    height: auto;
}

.topbar-connexion-logo {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.topbar-menu-mobile {
    position: relative;
    font-family: "Libre Baskerville", serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #CF8080;
    z-index: 3;
    padding: 20px 0;

    a {
        margin: 10px 0;
    }

    a:hover {
        cursor: pointer;
    }
}

.white-line {
    display: block;
    background-color: white;
    height: 2px;
    width: 20%;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :first-child {
        border-radius: 10px 10px 0 0;
    }

    :last-child {
        border-radius: 0 0 10px 10px;
    }
}

.filter-input {
    font-family: "Libre Baskerville", serif;
    padding: 10px;
    width: 80%;
    border: 1px solid black;
}

.filter-submit {
    padding: 10px;
    background-color: #FFBD14;
    width: 80%;
    border: 1px solid black;

    span {
        font-weight: bold;
        font-size: 18px;
    }
}

/* Animation Burger */
.topbar-burger {
    display: block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #D6A9A9;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.no-show {
    display: none !important;
}

.account {
    color: black !important;
    display: none;
}

/* TABLET AND DESKTOP PART */
@media only screen and(min-width: 500px) {
    .topbar-main-logo {
        width: 275px;
    }
}

@media only screen and(min-width: 750px) {
    .topbar-main-logo {
        width: 350px;
    }

    .account {
        display: block;
    }
}

@media only screen and(min-width: 850px) {
    .topbar-main-logo {
        width: 500px;
    }

    .topbar {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .topbar-container-connexion {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar-container-connexion-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  .topbar-connexion-desktop {
    display: block;
    font-family: "Libre Baskerville", serif;
    color: #d18a8a
  }
}

@media only screen and (min-width: 1250px) {
    .topbar-main-logo {
        width: 500px;
    }

    .topbar {
        padding-top: 0;
        margin-top: -10px;
    }

    .topbar-menu-tablet {
        display: none;
    }

    .topbar-menu-desktop {
        display: block;
        font-family: "Libre Baskerville", serif;
        color: #d18a8a;
        a {
            margin: 0 8px;
        }
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .topbar-burger {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .topbar-menu-desktop {
        a {
            margin: 0 18px;
        }
    }
}