<form method="post" action="{{ path('admin_business_hour_delete', {'id': business_hour.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet horaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ business_hour.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
