<form method="post" action="{{ path('admin_dashboard_delete', {'id': dashboard.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objectif ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dashboard.id) }}">
    <button class="btn btn-danger btn-sm mb-3">Supprimer</button>
</form>
