<form method="post" action="{{ path('admin_home_image_delete', {'id': home_image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home_image.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
