{% extends 'admin.html.twig' %}

{% block title %}Modifier Information{% endblock %}

{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div>
        <h2 class="h2 mb-3 text-gray-800">Modifier une information</h2>
        {{ include('information/_form.html.twig') }}
    </div>
{% endblock %}
