{% extends 'admin.html.twig' %}

{% block title %}Nouveau Professionnel{% endblock %}

{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="contact-form">
        <h2 class="h2 mb-3 text-gray-800">Ajouter un nouveau professionnel</h2>
        {{ include('professional/_form.html.twig') }}
    </div>
{% endblock %}
