<div>
    <p>Bonjour, voici avez oublié votre mot de passe sur mon RDV Beauté ?</p>
    <p>Merci de cliquer sur le lien suivant pour modifier votre mot de passe : <a href="{{ absolute_url(path('recover_password', {'token' : token})) }}">Changement de mot de passe</a></p>
</div>
