<div>
    <p>Bonjour !</p>
    <p>Vous avez reçu un message depuis le site Mon RDV Beauté, de la part de {{ prenom }} {{ nom }} ({{ email }}), voici le contenu du message : </p>
    <p>{{ message }}</p>
</div>
