{% extends 'base.html.twig' %}

{% block title %}New BusinessHour{% endblock %}

{% block body %}
    <h1>Create new BusinessHour</h1>

    {{ include('business_hour/_form.html.twig') }}

    <a href="{{ path('business_hour_index') }}">back to list</a>
{% endblock %}
