{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1 class="title">Modifier un Article</h1>
    <div class="contact-form">
        {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
