{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container-flex">
        <h2 class="title">Tous les articles</h2>
        <a href="{{ path('admin_article_new') }}"><button class="btn btn-link">Écrire un nouvel article</button></a>
        {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <h3>{{ article.title }}</h3>
                <p>{{ article.content|slice(0, 500)|striptags}}...</p>
                <a href="{{ path('article_show', {'id': article.id}) }}"><button class="btn btn-success">Lire l'article</button></a>
            </div>
        </div>
        {% else %}
            <p>Il n'y a pas d'articles !</p>
        {% endfor %}
    </div>
{% endblock %}
