{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1 class="title">Créer un nouvel Article</h1>
    <div class="contact-form">
        {{ include('article/_form.html.twig') }}
    </div>
{% endblock %}
