{% extends 'base.html.twig' %}

{% block title %}New ServicePrices{% endblock %}

{% block body %}
    <h1>Create new ServicePrices</h1>

    {{ include('service_prices/_form.html.twig') }}

    <a href="{{ path('service_prices_index') }}">back to list</a>
{% endblock %}
